<!-- Begin Nav bar -->
<style>
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          padding: 12px 16px;
          z-index: 1;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
          bottom: 100%;
        }
        </style>

<div class="container">
<div class="dropdown">
        <span class="navbar-item">Languages</span>
       
        <div class="dropdown-content">
                {{ range .Site.Menus.languages }}
                <a class="navbar-item"  href="{{ .URL }}">
                        {{ .Pre }}
                        {{ .Name }}
                        {{ .Post }}
                    </a>
                    {{ end }}
        </div>
       
</div>
</div>





<!--<div class="dropdown">
        <span>Mouse over me</span>
        <div class="dropdown-content">
          <p>Hello World!</p>
        </div>
      </div>
      -->
<!-- End Nav bar -->
