<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head/metadata.html" . }}
        {{ partial "head/openGraph.html" . }}
        {{ partial "head/favicons.html" . }}
        {{ partial "head/css.html" . }}
        {{ partial "css/owlCarousel.html" . }}
    </head>
    <body>
        <section id="top" class="section">
            {{ with .Site.GetPage "/home" }}
            <div class="hero is-{{ .Site.Params.home.introHeight | default "large" }}">
                <!-- Super sweet Hero body title -->
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <!-- Title and tagline -->
                        <h1 class="bold-title {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in one{{ end }}">
                            {{ .Title }}
                        </h1>
                        <div class="subtitle is-3 {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in two{{ end }}">
                            {{ .Content }}
                        </div>
                        <!-- End title and tagline -->
                        <!-- Some social icons -->
                        <div class="{{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in three{{ end }}">
                            {{ partial "home/social.html" . }}
                        </div>
                        <!-- End top social icons -->
                    </div>
                </div>
                <!-- Hero body title end -->
            </div>
            {{ end }}
            <!-- Done with Hero -->
            <div class="{{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in three{{ end }}">
                <!-- Tell them all about it! -->
                {{ partial "nav.html" . }}

                {{ with .Site.GetPage "/home" }}
                {{ $home := . }}
                {{ range sort (.Resources.ByType "page") "Params.weight" }}
                {{ if ne .Name "contact.md" }}
                <!-- Range through all sections in /home execept contact.md -->
                <div class="section" id="{{ .File.TranslationBaseName }}">
                    <div class="container">
                        <h2 class="title is-2 has-text-centered">{{ .Title }}</h2>
                        {{ if .Params.Image }}
                        <div class="columns">
                            <div class="column is-one-third has-text-centered">
                                {{ with $home.Resources.GetMatch .Params.Image }}
                                {{ with .Resize "320x" }}
                                <img class="img-responsive avatar" src="{{ .Permalink }}" alt="{{ .Name }}">
                                {{ end }}
                                {{ end }}
                            </div>
                            <div class="markdown column">
                                {{ .Content }}
                            </div>
                        </div>
                        {{ else }}
                        <div class="markdown has-text-centered">
                            {{ .Content }}
                        </div>
                        {{ end }}
                    </div>
                    <!-- End About container-->
                    {{ partial "top-icon.html" . }}
                </div>
                <div class="container"><hr></div>
                {{ end }}
                {{ end }}
                <!-- Now for some cool projects -->
                {{ partial "home/projects.html" . }}
                <!-- Let`s show some blog posts -->
                {{ partial "home/blog.html" . }}
                <!-- Let`s chat, shall we? -->
                {{ with .Resources.GetMatch "contact.md" }}
                <div class="section" id="{{ .File.TranslationBaseName }}">
                    <div class="container has-text-centered">
                        <h2 class="title is-2">{{ .Title }}</h2>
                        <div class="markdown">
                            {{ .Content }}
                        </div>
                        {{ if .Site.Params.home.localTime }}
                         <p>{{ i18n "index_currentTime" . }} <span id="time"></span>.</p>
                        {{ end }}
                        {{ with .Site.Params.email }}
                        <h3 class="subtitle is-3 has-text-centered top-pad">
                            <a href="mailto:{{ . }}">{{ . }}</a>
                        </h3>
                        {{ end }}
                        {{ partial "home/social.html" . }}
                    </div>
                    <!-- End Contact container -->
                    {{ partial "top-icon.html" . }}
                </div>
                <div class="container"><hr></div>
                {{ end }}
                <!-- End Contact section -->
                {{ end }}

                {{ partial "footer/text.html" . }}
            </div>
        </section>
        <!-- End of fade in three section -->
        {{ partial "footer/scripts.html" . }}
        {{ partial "js/owlCarousel.html" . }}

        {{ if .Site.Params.home.localTime }}
        {{ $momentjs := resources.Get "/vendor/momentjs/moment.min.js" }}
        {{ $momentTimezone := resources.Get "/vendor/momentjs/moment-timezone.min.js" }}
        {{ $momentTimezoneWithData := resources.Get "/vendor/momentjs/moment-timezone-with-data-2012-2022.min.js" }}
        {{ $initMomentjs := resources.Get "/js/initMoment.js" | resources.ExecuteAsTemplate "js/initMoment.tmp.js" . }}
        {{ $bundleMoment := slice $momentjs $momentTimezone $momentTimezoneWithData $initMomentjs | resources.Concat "/js/bundleMoment.js" | fingerprint }}
        <script src="{{ $bundleMoment.Permalink }}" ></script>
        {{ end }}
    </body>
</html>
