{{ define "title" }}
    <h1 class="bold-title is-1">{{ .Data.Singular | humanize }}: {{ lower .Title }}</h1>
{{ end }}

{{ define "main" }}
    <div class="container">
        <ul>
            {{ range .Pages.ByPublishDate.Reverse }}
            <li>
                <a href="{{ .Permalink }}">{{ .Date.Format (.Site.Params.dateFormat | default "Jan 02, 2006") }} | {{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
{{ end }}
