<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="no-referrer">
<style>
  @import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800&display=swap");
</style>
{{ if .Site.Params.description }}
<meta name="description" content="{{ .Site.Params.description }}">{{ end }}
<title>
  {{ .Title }}{{ if ne .Title .Site.Title }} - {{ .Site.Title }}{{ end }}
</title>
<!-- RSS -->
{{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}