<div class="section" id="footer">
  <div id="omo">
    <!-- <link rel="stylesheet" href="assets/totemWidget.css" /> -->
    <script>
      (function (w, d, s, o, f, js, fjs) {
        w["Omo-Widget"] = o;
        w[o] =
          w[o] ||
          function () {
            (w[o].q = w[o].q || []).push(arguments);
          };
        (js = d.createElement(s)), (fjs = d.getElementsByTagName(s)[0]);
        js.id = o;
        js.src = f;
        js.async = 1;
        fjs.parentNode.insertBefore(js, fjs);
      })(
        window,
        document,
        "script",
        "mw",
        "https://omo-lab.herokuapp.com/webwidget/OmoWidget.js"
      );
      mw("init", {
        config: "https://omo-lab.herokuapp.com/webwidget/config/config_optimus.json"
      });
      mw("message", "Hello from OmoWidget");
    </script>
    <div class="omo-widget-container"></div>
  </div>
  <div class="container has-text-centered">
    {{ with .Site.Params.footerText }} {{ . | markdownify }} {{ else }}
    <span class="footer-text">
      {{ i18n "footer_text" . | markdownify }}
    </span>
    {{ end }}
  </div>
</div>
<!--http://localhost:8080/
http://0.0.0.0:8080/
https://omo-lab.herokuapp.com/
-->